---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

<!-- 
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->


## Invited Talks

1. Decentralized Zeroth-order Algorithms for Distributed Energy Systems, Group Intelligence Seminar, 2023
2. Reinforcement Learning and Its Application for Demand Response, PKU, 2021
3. Deep Reinforcement Learning-based Strategy for Charging Station Participating in Demand Response. IEEE PES General Meeting, 2021
